.expertiseContainer {
    font-family: ':Merriweather';
    height: 100vh;
    width: 100%;
    margin-top: 400px;
    display: inline-block;
    position: relative;
}

.title{
    font-family: ‘Merriweather’, Georgia, serif; 
    text-align: center;
}

.skillType{
    max-width: 1000px;
    margin: auto;
    color: #b57281 ;
}

p{
    max-width: 1000px;
    margin: auto;
}
